@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<div class="Schedule">
    <div class="container">
        <h1 class="display-3">Schedule</h1>
        <p class="lead">
            Эта вкладка поможет тебе разобраться в твоем расписании :)
        </p>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Время</th>
            <th>Аудитория</th>
            <th>Дисциплина</th>
            <th>Преподаватель</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" style="background-color: aquamarine">Понедельник</th>
            <td style="background-color: aquamarine"></td>
            <td style="background-color: aquamarine"></td>
            <td style="background-color: aquamarine"></td>

        </tr>
        <tr>
            <th scope="row">10-12</th>
            <td>1044</td>
            <td>Математика</td>
            <td>Сидорова М.В.</td>
        </tr>
        <tr>
            <th scope="row">12-14</th>
            <td>1044</td>
            <td>Русский</td>
            <td>Колчак Д.С.</td>
        </tr>
        <tr>
            <th scope="row">16-18</th>
            <td>1044</td>
            <td>История</td>
            <td>Пугачева В.С.</td>
        </tr>
        <tr>
            <th scope="row" style="background-color: aquamarine">Вторник</th>
            <td style="background-color: aquamarine"></td>
            <td style="background-color: aquamarine"></td>
            <td style="background-color: aquamarine"></td>

        </tr>
        <tr>
            <th scope="row">10-12</th>
            <td>1044</td>
            <td>Математика</td>
            <td>Сидорова М.В.</td>
        </tr>
        <tr>
            <th scope="row">12-14</th>
            <td>1044</td>
            <td>Русский</td>
            <td>Колчак Д.С.</td>
        </tr>
        <tr>
            <th scope="row">16-18</th>
            <td>1044</td>
            <td>История</td>
            <td>Пугачева В.С.</td>
        </tr>
        <tr>
            <th scope="row" style="background-color: aquamarine">Среда</th>
            <td style="background-color: aquamarine"></td>
            <td style="background-color: aquamarine"></td>
            <td style="background-color: aquamarine"></td>

        </tr>
        <tr>
            <th scope="row">10-12</th>
            <td>1044</td>
            <td>Математика</td>
            <td>Сидорова М.В.</td>
        </tr>
        <tr>
            <th scope="row">12-14</th>
            <td>1044</td>
            <td>Русский</td>
            <td>Колчак Д.С.</td>
        </tr>
        <tr>
            <th scope="row">16-18</th>
            <td>1044</td>
            <td>История</td>
            <td>Пугачева В.С.</td>
        </tr>
        <tr>
            <th scope="row" style="background-color: aquamarine">Четверг</th>
            <td style="background-color: aquamarine"></td>
            <td style="background-color: aquamarine"></td>
            <td style="background-color: aquamarine"></td>

        </tr>
        <tr>
            <th scope="row">10-12</th>
            <td>1044</td>
            <td>Математика</td>
            <td>Сидорова М.В.</td>
        </tr>
        <tr>
            <th scope="row">12-14</th>
            <td>1044</td>
            <td>Русский</td>
            <td>Колчак Д.С.</td>
        </tr>
        <tr>
            <th scope="row">16-18</th>
            <td>1044</td>
            <td>История</td>
            <td>Пугачева В.С.</td>
        </tr>
        <tr>
            <th scope="row" style="background-color: aquamarine">Пятница</th>
            <td style="background-color: aquamarine"></td>
            <td style="background-color: aquamarine"></td>
            <td style="background-color: aquamarine"></td>

        </tr>
        <tr>
            <th scope="row">10-12</th>
            <td>1044</td>
            <td>Математика</td>
            <td>Сидорова М.В.</td>
        </tr>
        <tr>
            <th scope="row">12-14</th>
            <td>1044</td>
            <td>Русский</td>
            <td>Колчак Д.С.</td>
        </tr>
        <tr>
            <th scope="row">16-18</th>
            <td>1044</td>
            <td>История</td>
            <td>Пугачева В.С.</td>
        </tr>
        <tr>
            <th scope="row" style="background-color: aquamarine">Суббота</th>
            <td style="background-color: aquamarine"></td>
            <td style="background-color: aquamarine"></td>
            <td style="background-color: aquamarine"></td>

        </tr>
        <tr>
            <th scope="row">10-12</th>
            <td>1044</td>
            <td>Математика</td>
            <td>Сидорова М.В.</td>
        </tr>
        <tr>
            <th scope="row">12-14</th>
            <td>1044</td>
            <td>Русский</td>
            <td>Колчак Д.С.</td>
        </tr>
        <tr>
            <th scope="row">16-18</th>
            <td>1044</td>
            <td>История</td>
            <td>Пугачева В.С.</td>
        </tr>
    </tbody>
</table>