@model AoSP.ViewModels.Student.StudentGradeViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@foreach (var subject in Model.PersonalSubjects)
{
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    <h3>@subject.Title (@subject.Teacher.Surname @subject.Teacher.Name @subject.Teacher.Patronymic)</h3>
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var task in subject.PersonalSubjectTasks)
            {
                @await Html.PartialAsync("_Task", task)
            }
            </tbody>
        </table>
    </div>
}