@model CreatePasswordViewModel

@{
    ViewBag.Title = "Create Password";
    Layout = "_Layout";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div style="max-width: 35em; min-width: 17em;">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Регистрация</h3>
                </div>
                <div class="card-body">
                    <form asp-controller="Account" asp-action="CreatePassword">
                        <input class="form-control text-center" asp-for="Login" placeholder="Имя" type="text" hidden="hidden">
                        <div>
                            <span class="form-text">
                                Пароль должен быть длиной больше 6 символов и иметь только латинские символы
                            </span>
                            <input autocomplete="new-password" asp-for="Password" placeholder="Пароль"
                                   class="form-control font-weight-bold text-center" type="password">
                        </div>
                        <div>
                            <input class="form-control font-weight-bold text-center" autocomplete="new-password"
                                   asp-for="PasswordConfirm" placeholder="Подтвердите пароль" type="password">
                        </div>
                        <div>
                            <button class="btn btn-success" type="submit">Войти</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>