@model AoSP.ViewModels.Admin.MarkViewModel

<div class="mark d-flex">
    <input type="datetime-local" class="form-control flex-fill" name="Date"/>
    <input type="text" class="form-control flex-fill" name="Place"/>
    <a href="#" class="delete btn btn-outline-danger flex-shrink-1">Удалить</a>
</div>

<script>
    $("a.delete").on("click", function () {
        $(this).parents("div.mark:first").remove();
        return false;
    });
</script>