@model UserViewModel

<div class="student">
    <span>Name: </span> @Html.EditorFor(m => m.Name)
    <span>Surname: </span> @Html.EditorFor(m => m.Surname)
    <span>Patronymic: </span> @Html.EditorFor(m => m.Patronymic)
    <a href="#" class="delete">delete</a>
</div>

<script>
    $("a.delete").on("click", function () {
        $(this).parents("div.student:first").remove();
        return false;
    });
</script>