@model UserViewModel

<div class="student d-flex">
    <input type="text" class="form-control flex-fill" placeholder="Name" asp-for="Name">
    <input type="text" class="form-control flex-fill" placeholder="Surname" asp-for="Surname">
    <input type="text" class="form-control flex-fill" placeholder="Patronymic" asp-for="Patronymic">
    <input type="text" class="form-control flex-fill" placeholder="Login" asp-for="Login">
    <a href="#" class="delete btn btn-outline-danger flex-shrink-1">delete</a>
</div>

<script>
    $("a.delete").on("click", function () {
        $(this).parents("div.student:first").remove();
        return false;
    });
</script>