@model AoSP.ViewModels.Admin.SubjectTaskViewModel

<div class="subjectTask">
    <span>Title: </span> @Html.EditorFor(m => m.TaskTitle)
    <span>Description: </span> @Html.EditorFor(m => m.Description)
    <a href="#" class="delete">delete</a>
</div>

<script>
    $("a.delete").on("click", function () {
        $(this).parents("div.subjectTask:first").remove();
        return false;
    });
</script>