@model AoSP.ViewModels.Admin.SubjectTaskViewModel

<div class="subjectTask d-flex">
    <input type="text" class="form-control flex-fill" placeholder="Task Title" asp-for="TaskTitle">
    <input type="text" class="form-control flex-fill" placeholder="Description" asp-for="Description">
    <a href="#" class="delete btn btn-outline-danger flex-shrink-1">delete</a>
</div>

<script>
    $("a.delete").on("click", function () {
        $(this).parents("div.subjectTask:first").remove();
        return false;
    });
</script>