@model AoSP.ViewModels.Admin.GroupViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form asp-action="CreateGroup" asp-controller="Admin" method="post">
    <input id="groupTitle" type="text" class="form-control" asp-for="GroupTitle">
    <div>
        <div class="students">
            @foreach (var item in Model.Students)
            {
                @await Html.PartialAsync("_Student", item)
            }
        </div>
        <a class="addStudent" asp-action="AddStudent" asp-controller="Admin">Add Student</a>
    </div>
    <div>
        <div class="subjects">
            @foreach (var item in Model.Subjects)
            {
                @await Html.PartialAsync("_Subject", item)
            }
        </div>
        <a class="addSubject" asp-action="AddSubject" asp-controller="Admin">Add Subject</a>
    </div>
    <input type="submit" id="submit" value="Save"/>
</form>

@section scripts {
    <script>
        $("#submit").click(function (e) {
            e.preventDefault();
            var formData = new FormData();

            $("input[name='GroupTitle']").each(function () {
                var GroupTitle = $(this).val();
                formData.append("GroupTitle", GroupTitle);
            });
            
            $("input[name='Name']").each(function (i) {
                var Name = $(this).val();
                formData.append("Students[" + i + "].Name", Name);
            });
            $("input[name='Surname']").each(function (i) {
                var Surname = $(this).val();
                formData.append("Students[" + i + "].Surname", Surname);
            });
            $("input[name='Patronymic']").each(function (i) {
                var Patronymic = $(this).val();
                formData.append("Students[" + i + "].Patronymic", Patronymic);
            });
            $("input[name='Login']").each(function (i) {
                var Login = $(this).val();
                formData.append("Students[" + i + "].Login", Login);
            });
            
            $("input[name='Title']").each(function (i) {
                var Title = $(this).val();
                formData.append("Subjects[" + i + "].Title", Title);
            });
            $("input[name='Teacher.Name']").each(function (i) {
                var Name = $(this).val();
                formData.append("Subjects[" + i + "].Teacher.Name", Name);
            });
            $("input[name='Teacher.Surname']").each(function (i) {
                var Surname = $(this).val();
                formData.append("Subjects[" + i + "].Teacher.Surname", Surname);
            });
            $("input[name='Teacher.Patronymic']").each(function (i) {
                var Patronymic = $(this).val();
                formData.append("Subjects[" + i + "].Teacher.Patronymic", Patronymic);
            });
            $("input[name='Teacher.Login']").each(function (i) {
                var Login = $(this).val();
                formData.append("Subjects[" + i + "].Teacher.Login", Login);
            });
            
            $(".subject").each(function (i) {
                var nestedList = $(this).find(".subjectTask");
                nestedList.each(function (j) {
                    var value = $(this).find("input[name='TaskTitle']").val();
                    formData.append("Subjects[" + i + "].SubjectTasks[" + j + "].TaskTitle", value);
                });
            });
            
            $(".subject").each(function (i) {
                var nestedList = $(this).find(".subjectTask");
                nestedList.each(function (j) {
                    var value = $(this).find("input[name='Description']").val();
                    formData.append("Subjects[" + i + "].SubjectTasks[" + j + "].Description", value);
                });
            });
            
            $(".subject").each(function (i) {
                var nestedList = $(this).find(".mark");
                nestedList.each(function (j) {
                    var value = $(this).find("input[name='Date']").val();
                    formData.append("Subjects[" + i + "].Marks[" + j + "].DateTime", value);
                });
            });
            
            $(".subject").each(function (i) {
                var nestedList = $(this).find(".mark");
                nestedList.each(function (j) {
                    var value = $(this).find("input[name='Place']").val();
                    formData.append("Subjects[" + i + "].Marks[" + j + "].Place", value);
                });
            });
            
            $.ajax({
                method: 'post',
                url: '@Url.Action("CreateGroup", "Admin")',
                data: formData,
                processData: false,
                contentType: false,
                success: function () {
                }
            });
        });

        $(".addStudent").click(function () {
            var subjectTasksContainer = $(this).siblings(".students");
            $.ajax({
                url: '@Url.Action("AddStudent", "Admin")',
                cache: false,
                success: function (html) {
                    subjectTasksContainer.append(html);
                }
            });
            return false;
        });
        
        $(".addSubject").click(function () {
            var subjectTasksContainer = $(this).siblings(".subjects");
            $.ajax({
                url: '@Url.Action("AddSubject", "Admin")',
                cache: false,
                success: function (html) {
                    subjectTasksContainer.append(html);
                }
            });
            return false;
        });
    </script>
}