@model AoSP.ViewModels.Teacher.StudentViewModel

<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                <h4>@Model.Surname @Model.Name @Model.Patronymic</h4>
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var task in Model.Tasks)
        {
            @await Html.PartialAsync("_Task", task)
        }
        </tbody>
    </table>
</div>