@model AoSP.ViewModels.Student.PersonalSubjectTaskViewModel

<div class="subject">
    <span>Title: </span> @Html.EditorFor(m => m.TaskTitle)
    <a href="#" class="delete">delete</a>
</div>

<script>
    $("a.delete").on("click", function () {
        $(this).parents("div.subject:first").remove();
        return false;
    });
</script>