@model AoSP.ViewModels.Teacher.TeacherGradeViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@Model.Subject.Title</h2>

@foreach (var student in Model.Subject.Students)
{
    <div>
        @await Html.PartialAsync("_Student", student)
    </div>
}