@model AoSP.ViewModels.Teacher.TeacherGradeViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h4>@Model.Subject.Title</h4>

@foreach (var student in Model.Subject.Students)
{
    @await Html.PartialAsync("_Student", student)
}